body
{
  background-color:#bcd4e6;
  margin:0px;
  padding:0px;
}
.container
{
  margin-top:20px;
  margin-right:900px;
  margin-left:20px;
  
}
.contact
{
  
  text-align: center;
  width: 300px;
  margin:auto;
  boder:3px solid black;
  padding:10px;
  h1
  {
    font-size:90px;
    margin-bottom:-20px;
  }
  h4
  {
    margin-bottom:-75px;
  }
}
.objective
{
  margin:20,100,20,20;
}

